<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="berlin.reiche.securitas"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <!-- Application cannot work without GCM -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <!-- Restrict GCM messages to this application -->
    <permission
        android:name="berlin.reiche.securitas.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="berlin.reiche.securitas.permission.C2D_MESSAGE" />

    <!-- Application receives GCM messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- GCM connects to Google Services -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity android:name=".HelloAndroidActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Broadcast receiver is responsible for handling the 2 intents that can be sent by GCM -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="my_app_package" />
            </intent-filter>
        </receiver>

        <!-- Intent service will be called by the GCMBroadcastReceiver -->
        <service android:name=".GCMIntentService" />
    </application>

</manifest>